


<div >
    <header>
        <h1>Welcome to the Quiz Website</h1>
        <p >{{text}}</p>
        <button class="btn" (click)="redirectToQuizOptions()">LET'S START THE QUIZ</button>
    </header>
    <main>
        <section class="features">
            <h1>Quiz Website Features</h1>
        <div class="container">
            <ul>
                <li><strong>Wide Range of Topics:</strong> The website covers a vast array of topics, including programming languages, frameworks, and emerging technologies.</li>
                <li><strong>Interactive Quizzes:</strong> The quizzes are interactive and engaging, offering a mix of multiple-choice, true/false, and fill-in-the-blank questions.</li>
                <li><strong>Detailed Explanations:</strong> Each question is accompanied by a detailed explanation, enhancing users' learning experience.</li>
                <li><strong>User-Friendly Interface:</strong> The website features a user-friendly interface that makes it easy to navigate and find quizzes of interest.</li>
                <li><strong>Community Engagement:</strong> Users can engage with the community through features like leaderboards and comments sections.</li>
                <li><strong>Personalized Recommendations:</strong> The website offers personalized quiz recommendations based on users' interests and performance.</li>
                <li><strong>Mobile Compatibility:</strong> The website is optimized for mobile devices, allowing users to take quizzes on the go.</li>
                <li><strong>Regular Updates:</strong> The website is regularly updated with new quizzes and content.</li>
                <li><strong>Learning Paths:</strong> Users can follow predefined learning paths or create their own.</li>
                <li><strong>Certification and Badges:</strong> Users can earn certifications and badges by completing quizzes and achieving milestones.</li>
            </ul>
        </div>
    
        </section>
        <section class="about">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor tempor urna, vel pulvinar
                nulla
                consectetur vel. Integer nec mi ut sem facilisis eleifend.</p>
        </section>
        <section class="subscribe">
            <h2>Subscribe</h2>
            <p>Subscribe to our newsletter to receive updates and new quiz notifications.</p>
            <form>
                <input type="email" placeholder="Enter your email">
                <button type="submit">Subscribe</button>
            </form>
        </section>
    </main>
    <!-- <footer>
        <p>&copy; 2024 Quiz Website. All Rights Reserved.</p>
    </footer> -->
</div>